html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.page_wrapper {
	width: 1280px;
	margin: 0 auto;
}

.title_wrapper {
	background-color: #eee;
	height: 50px;
}

.content_wrapper {
	border: 1px solid #ddd;
	padding: 10px;
}

.search_wrapper{
	margin-bottom: 10px;
}

.map_wapper {
}

.map {
	height: 800px;
}

.right-panel {
	width: 350px;
	margin: 0 10px;
	float: right;
}

.store_container {
}

.store_list li {
	cursor: pointer;
}

#directionsPanel {
	position: relative;
	overflow: auto;
	height: 500px;
}
